.qr-parameter-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .qr-parameter-item {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        margin-left: 10px;
        align-items: center;
    }
    .qr-parameter-label {
        width: 120px;
    }
}