.qr-content {
  display: flex;
  justify-content: space-evenly;

  .qr-content-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .qr-content-right {
    display: flex;
    align-items: center;
  }
}